*.xlsx
*.DS_Store
input_data/9606.protein.aliases.v10.txt
input_data/entrez_gene_id.vs.string.v10.28042015.tsv
input_data/9606.protein.links.v10.txt
input_data/hgnc_complete_set.txt
input_data/Homo_sapiens.gene_info
*.ipynb
preprocess_genotype_data/genotype_input/Gene_level_CN.txt
preprocess_rnai_data/rnai_input/CP0004_20131120_19mer_trans_v1.chip

preprocess_rnai_data/rnai_input/Intercell_v18_rc4_kinome_zp0_for_publication.txt

preprocess_rnai_data/rnai_input/breast_zgarp.txt

preprocess_rnai_data/rnai_input/Achilles_QC_v2.4.3.rnai.shRNA.table.txt

preprocess_rnai_data/rnai_input/Achilles_QC_v2.4.3.rnai.Gs.gct

R_scripts/.RData

R_scripts/.Rhistory
.Rproj.user

gendep/static/gendep/.Rhistory

preprocess_rnai_data/rnai_output/COLT_ATARIS.txt

preprocess_rnai_data/rnai_output/Hoffman_cancergd_tissues.txt

preprocess_rnai_data/rnai_output/Hoffman_cancergd.txt

R_scripts/outputs/Hoffman_CGDs_bytissue_witheffectsize_and_zdiff.txt

R_scripts/outputs/Hoffman_CGDs_pancan_witheffectsize_and_zdiff_and_boxplotdata_mutantstate.txt

R_scripts/outputs/Hoffman_CGDs_pancan_witheffectsize_and_zdiff.txt

R_scripts/outputs/Hoffman_CGDs_pancan_witheffectsize_and_zdiff1_and_boxplotdata_mutantstate.txt

R_scripts/outputs/Hoffman_CGDs_pancan_witheffectsize_and_zdiff1.txt

R_scripts/outputs/Marcotte_Ataris_CGDs_bytissue_witheffectsize_and_zdiff_and_boxplotdata_mutantstate.txt

R_scripts/outputs/Marcotte_Ataris_CGDs_bytissue_witheffectsize_and_zdiff.txt

R_scripts/R_scripts.Rproj
