<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  {% load staticfiles %}
  {% block title %}<title>CancerGD.org: a database of Cancer Genetic Dependencies</title>{% endblock %}
  {% block links_top %}{% endblock %} {# Putting non-essential scripts at bottom can speedup display of webpage #}
  {# Need to call my style sheet after jQuery one, so that mine overwrites the jquery defaults #}
  <link rel="icon" type="image/png" href="{% static 'gendep/images/favicon-32x32.png' %}" sizes="32x32" />
  <link rel="icon" type="image/png" href="{% static 'gendep/images/favicon-16x16.png' %}" sizes="16x16" />  
  <link rel="stylesheet" type="text/css" href="{% static 'gendep/style.css' %}" />
  {% block scripts %}{% endblock %} 
</head>
<body>

<div id="header">
<table align="center" style="padding: 0;"><tr>
{% comment "Needs new logo, as named changed to CancerGD" %}
<td rowspan="2">
<img src="{% static 'gendep/images/CGDD_logo3_smallest.png' %}" alt="CancerGD.org" width="101" height="62"/>
</td>
{% endcomment %}
<td>
 &nbsp; &nbsp; <a href="{% url 'gendep:home' %}">Home/Search</a>
{% comment "Not using ByTarget search at present" %} 
 &nbsp; &nbsp; <a href="{% url 'gendep:home_search_by' search_by='target' %}">ByTarget</a>
{% endcomment %} 
 &nbsp; &nbsp; <a href="{% url 'gendep:about' %}">About</a>
 &nbsp; &nbsp; <a href="{% url 'gendep:tutorial' %}">Tutorial</a>
 &nbsp; &nbsp; <a href="{% url 'gendep:drivers' %}">Drivers</a>
{# &nbsp; &nbsp; <a href="{ % url 'gendep:targets' % }">Target genes</a> #}
 &nbsp; &nbsp; <a href="{% url 'gendep:tissues' %}">Tissues</a>
 &nbsp; &nbsp; <a href="{% url 'gendep:studies' %}">Studies</a>
 &nbsp; &nbsp; <a href="{% url 'gendep:faq' %}">FAQ</a>
 &nbsp; &nbsp; <a href="{% url 'gendep:contact' %}">Contact</a>
</td>
<tr><td> 
<h1>CancerGD.org: a database of Cancer Genetic Dependencies</h1>
</td></tr></table>
</div>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<div id="maintext_div">
{% block content %}{% endblock %}
</div>
<div id="maintable_div" style="padding: 30 0">
{% block table %}{% endblock %}
</div>
<div id="footer">
<hr style="color: #aa66ff;" />
<table align="center" cellpadding="10"><tr>
<td><a href="http://www.ucd.ie/sbi/" title="Systems Biology Ireland"><img src="{% static 'gendep/images/SBI-logo-138w79h.png' %}" alt="Systems Biology Ireland" width="138" height="79" /></a></td>
<td><a href="http://www.ucd.ie/" title="University College Dublin"><img src="{% static 'gendep/images/UCD_maincore_logo.png' %}" alt="University College Dublin" width="276" height="69" /></a></td>
<td><a href="http://www.icr.ac.uk/" title="The Institute of Cancer Research"><img src="{% static 'gendep/images/ICR_logo_smaller.png' %}" alt="The Institute of Cancer Research" width="283" height="55" /></a></td>
<td><a href="http://www.hrb.ie/" title="The Health Research Board, Ireland"><img src="{% static 'gendep/images/HRB_logo_blue_thumb_200x80px.jpg' %}" alt="The Health Research Board, Ireland" width="200" height="80" /></a></td>
</tr></table>

</div>
{% block links_bottom %}{% endblock %}
</body>
</html>
