{% extends 'gendep/base.html' %}
{% load staticfiles %}
{% block content %}   
<table align="center" cellpadding="5" width="80%" style="background-color: #ddddff; border: 1px solid blue;">
<tr><td colspan="3" style="text-align: center;"><b>Details for study awaiting publication</b></td></tr>
<tr><td>PubMed Id:</td><td>{{ study.pmid }}</td></tr>
<tr><td>Title:</td><td>{{ study.title }}</td></tr>
<tr><td>Authors:</td><td>{{ study.authors }}</td></tr>
<tr><td>Experiment type:</td><td>{{ study.experiment_type }}</td></tr>
<tr><td>Summary:</td><td>{{ study.summary }}</td></tr>
<tr><td>Abstract:</td><td>{{ study.abstract }}</td></tr>
<tr><td>Journal:</td><td>{{ study.journal }}</td></tr>
<tr><td>Publication date:</td><td>{{ study.pub_date }}</td></tr>
</table>
{% endblock%}